body{
  display: flex;
  justify-content: center;
  background: #c77400;
}

#container{
  position: relative;
  top: 100px;
  width: 500px;
}

#content-box{
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px;
}

ul{
  position: relative;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: left;
  margin-bottom: 13px;
}

a{
  text-decoration: none;
  background: white;
  padding: 15px;
}

a:hover{
  background: grey;
}
